In [3]:
cheer= "Python"
cheer_symbal = "*\O/*"
print(cheer)
print(cheer_symbal)

Python
*\O/*

In [16]:
cheer= "Python"
for x in cheer:
    print(x + "!")

P!
y!
t!
h!
o!
n!

In [ ]:
Pseudocode:
1. Initialize variables original_price, current_price, increase, percent_increase, recommendation, threshold_to_buy, and threshold_to_sell
2. Compoute increase
3. Compute percent_increase
4. IF percent_increase is greater than or equal to threshold_to_sell
        THEN Set recommendation to "sell"
    ELSE IF percent_increase is less than or equal to threshold_to_buy
        THEN set recommendation to "buy"
    ELSE IF percent_increase is less than threshold_to_sell and greater than threshold_to_buy
        THEN set recommendation to "hold"
    ELSE
        THEN print("Not enough data to make a decision. Need human input")
5. Print("Recommendation: " + recommendation)

In [31]:
original_price = 200
current_price = 210.356
increase= current_price - original_price
percent_increase = increase / original_price * 100
threshold_buy = 10
threshold_sell = 25
if percent_increase >= threshold_sell:
    recommendation = "Sell"
elif percent_increase <= threshold_sell and percent_increase > threshold_buy:
    recommendation = "Hold"
elif percent_increase <= threshold_buy:
    recommendation = "Buy"
else:
    print("Not enough data to make a decision. Need human input")
print("Recommendation:" + recommendation)

# Print original_price
print(f"Apple's original stock price was ${original_price}")

# Print current_price
print(f"Apples current stock price is ${current_price}")

# Print percent_increase to 2 decimal places using string formatting
print(f"Apples current stock price is ${round(current_price, 2)}")

Recommendation:Buy
Apple's original stock price was $200
Apples current stock price is $210.356
Apples current stock price is $210.36

Initialize variable balance as float
7. Compute balance_check
8. Print balance
9. IF recommendation equals "buy" and balance_check is greater than current_price
        THEN print(recommendation)
    ELSE IF recommendation equals buy and balance_check is less than current_price
        THEN print("You should buy, but you don't have enough capital")
    ELSE
        print(recommendation)

In [25]:
balance = 5000
balance_check = balance * 5
print(f"You have a current balance of ${balance}")
if recommendation == "Buy" and balance_check > current_price:
    print("You have funds to buy")
elif recommendation == "Buy" and balance_check < current_price:
    print("You have insufficuient funds to buy")
else:
    print(recommendation)

You have a current balance of $5000
You have funds to buy

Use the starter file to complete the following steps.
Create a grocery list for the apple pie ingredients:
Water
Butter
Eggs
Apples
Cinnamon
Sugar
Milk
Find the first two items on Mike's grocery list.
Find the last five items on Mike's grocery list.
Find every other item, starting from the second item, on Mike's grocery list.
Add flour to the grocery list.
Change apples to gala apples. (Mike decides to be more specific with the types of apples needed.)
Determine the total number of items on the grocery list.

In [51]:
grocery_list = ["Water", "Butter", "Eggs", "Apples", "Cinnamon", "Sugar", "Milk"];
print(grocery_list)
print(grocery_list[0:2])
print(grocery_list[: : 2])
grocery_list.append("Flour")
print(grocery_list)
len(grocery_list)
print(grocery_list[2:])
grocery_list[3] = "Gala apples"
print(grocery_list)

['Water', 'Butter', 'Eggs', 'Apples', 'Cinnamon', 'Sugar', 'Milk']
['Water', 'Butter']
['Water', 'Eggs', 'Cinnamon', 'Milk']
['Water', 'Butter', 'Eggs', 'Apples', 'Cinnamon', 'Sugar', 'Milk', 'Flour']
['Eggs', 'Apples', 'Cinnamon', 'Sugar', 'Milk', 'Flour']
['Water', 'Butter', 'Eggs', 'Gala apples', 'Cinnamon', 'Sugar', 'Milk', 'Flour']

In [56]:
print(grocery_list)
print(grocery_list.index("Gala apples"))
grocery_list.remove("Sugar")
print(grocery_list)
waterrem = grocery_list.index("Water")
print(waterrem)

['Water', 'Butter', 'Eggs', 'Gala apples', 'Cinnamon', 'Milk', 'Flour']
3

ValueError: list.remove(x): x not in list

In [66]:
#print(grocery_list)
#water_index = grocery_list.index("Water")
#print(water_index)
#grocery_list.pop(water_index)
print(grocery_list)
grocery_list.pop(-1)
print(grocery_list)

['Butter', 'Eggs', 'Gala apples', 'Cinnamon', 'Milk']
['Butter', 'Eggs', 'Gala apples', 'Cinnamon']

# Initialize the metric variables
count = 0
total = 0
average = 0
minimum = 0
maximum = 0

# Initialize lists to hold profitable and unprofitable day profits/losses
profitable_days = []
unprofitable_days = []

# List of trading profits/losses
trading_pnl = [ -224,  352, 252, 354, -544,
                -650,   56, 123, -43,  254,
                 325, -123,  47, 321,  123,
                 133, -151, 613, 232, -311 ]

In [87]:
count = 0
total = 0
average = 0
minimum = 0
maximum = 0
profitable_days = []
unprofitable_days = []
trading_pnl = [ -224,  352, 252, 354, -544,
                -650,   56, 123, -43,  254,
                 325, -123,  47, 321,  123,
                 133, -151, 613, 232, -311 ]
for each_day in trading_pnl:
    total += each_day
    count += 1
print(f"Sum of trading ${total}")
print(f"Total trading days {count}")
len(trading_pnl)
average = total / len(trading_pnl)
print(average)

Sum of trading $1139
Total trading days 20
56.95

In [77]:
minimum = 0
for each_day in trading_pnl:
    if minimum == 0:
        minimum = each_day
    elif each_day < minimum:
        minimum= each_day
print(minimum)

-650

In [78]:
maximum = 0
for each_day in trading_pnl:
    if maximum == 0:
        maximum = each_day
    elif each_day > maximum:
        maximum = each_day
print(maximum)

613

In [91]:
for each_day in trading_pnl:
    if each_day > 0:
         profitable_days.append(each_day)
    else:
        unprofitable_days.append(each_day)
print(profitable_days)
print(unprofitable_days)
print(len(profitable_days))
print(len(unprofitable_days))
print(len(profitable_days) / len(trading_pnl))

[352, 252, 354, 56, 123, 254, 325, 47, 321, 123, 133, 613, 232, 352, 252, 354, 56, 123, 254, 325, 47, 321, 123, 133, 613, 232, 352, 252, 354, 56, 123, 254, 325, 47, 321, 123, 133, 613, 232, 352, 252, 354, 56, 123, 254, 325, 47, 321, 123, 133, 613, 232]
[-224, -544, -650, -43, -123, -151, -311, -224, -544, -650, -43, -123, -151, -311, -224, -544, -650, -43, -123, -151, -311, -224, -544, -650, -43, -123, -151, -311]
52
28
2.6

Initialize the dictionary of banks. Add the following key-value pairs:

JP Morgan Chase: 327
Bank of America: 302
Citigroup: 173
Wells Fargo: 273
Goldman Sachs: 87
Morgan Stanley: 72
U.S. Bancorp: 83
TD Bank: 108
PNC Financial Services: 67
Capital One: 47
FNB Corporation: 4
First Hawaiian Bank: 3
Ally Financial: 12
Wachovia: 145
Republic Bancorp: .97

In [108]:
banks_price = {
    "JP Morgan Chase" : 327,
     "Bank of America" : 302,
     "Citigroup" : 173,
     "Wells Fargo" : 273,
     "Goldman Sachs" : 87,
     "Morgan Stanley" : 72,
     "U.S. Bancorp" : 83,
     "TD Bank" : 108,
     "PNC Financial Services" : 67,
     "Capital One" : 47,
     "FNB Corporation" : 4,
     "First Hawaiian Bank" : 3,
     "Ally Financial" : 12,
     "Wachovia" : 145,
     "Republic Bancorp" : .97
}
#banks_price['Citigroup'] = 170
#print(banks_price)
banks_price["AMEX"] = 33
print(banks_price)

{'JP Morgan Chase': 327, 'Bank of America': 302, 'Citigroup': 173, 'Wells Fargo': 273, 'Goldman Sachs': 87, 'Morgan Stanley': 72, 'U.S. Bancorp': 83, 'TD Bank': 108, 'PNC Financial Services': 67, 'Capital One': 47, 'FNB Corporation': 4, 'First Hawaiian Bank': 3, 'Ally Financial': 12, 'Wachovia': 145, 'Republic Bancorp': 0.97, 'AMEX': 33}

In [118]:
#del banks_price["Wachovia"]
del banks_price['AMEX']
print(banks_price)

{'JP Morgan Chase': 327, 'Bank of America': 302, 'Citigroup': 173, 'Wells Fargo': 273, 'Goldman Sachs': 87, 'Morgan Stanley': 72, 'U.S. Bancorp': 83, 'TD Bank': 108, 'PNC Financial Services': 67, 'Capital One': 47, 'FNB Corporation': 4, 'First Hawaiian Bank': 3, 'Ally Financial': 12, 'Republic Bancorp': 0.97}

In [ ]:
# Initialize metric variables
total_market_cap = 0
bank_count = 0
average = 0

# Initialize minimum key-value pair
minimum_key = ""
minimum_value = 0

# Initialize maximum key-value pair
maximum_key = ""
maximum_value = 0

In [131]:
total_market_cap = 0
bank_count = 0
average = 0
minimum_key = ""
minimum_value = 0
maximum_key = ""
maximum_value = 0
for bank_name, market_cap in banks_price.items():
    #rint(f"Bank Name: {bank_name}) | Market Cap: ${market_cap}")
    total_market_cap += int(market_cap)
    bank_count += 1
print(f"Total Market Capialisation is: ${round(total_market_cap,2)}")
print(bank_count)
#print(f"Name: {bank_name} | Market Cap: {market_cap}")

Total Market Capialisation is: $1558
14

In [136]:
minimum_value = 0
maximum_value = 0
for bank_name, market_cap in banks_price.items():
    if minimum_value == 0:
        minimum_value = market_cap
    else:
        minimum_value < 0
        minimum_value = market_cap
print(minimum_value)

0.97

In [148]:
for bank_name, market_cap in banks_price.items():
    if maximum_value == 0:
        maximum_value = market_cap
    elif market_cap > maximum_value:
        maximum_value = market_cap
print(maximum_value)

327

In [155]:
mega_cap = []
mid_cap = []
small_cap = []
for bank_name, market_cap in banks_price.items(): 
    if market_cap > 300:
        mega_cap.append(bank_name)
    elif market_cap < 300 and market_cap > 200:
        mid_cap.append(bank_name)
    elif market_cap < 200:
        small_cap.append(bank_name)
print(mega_cap)
print(mid_cap)
print(small_cap)

['JP Morgan Chase', 'Bank of America']
['Wells Fargo']
['Citigroup', 'Goldman Sachs', 'Morgan Stanley', 'U.S. Bancorp', 'TD Bank', 'PNC Financial Services', 'Capital One', 'FNB Corporation', 'First Hawaiian Bank', 'Ally Financial', 'Republic Bancorp']

In this activity, define a function named calculate_compound_growth_rate that will accept three arguments:
beginning_balance
ending_balance
years
The function should output a float as growth_rate.
Modularize this code so that you can dynamically calculate compound annual growth rate (CAGR) by simply calling a function with the required inputs. The results will indicate how you've been functioning as a trader.
CAGR is valuable, as it calculates and predicts growth rate earnings and percent increase or decrease of a stock, portfolio, or bank account. This will be useful when trying to evaluate portfolio/stock performance or when choosing which savings account might produce the most return.

In [161]:
beginning_balance = 29000
ending_balance = 45000
years = 1
growth_rate = 0
compound_growth_rate = 0
def calculate_compound_growth_rate(beginning_balance, ending_balance, years):
    growth_rate = (ending_balance / beginning_balance)**(1/years) - 1
    return growth_rate
year_one_growth = calculate_compound_growth_rate(beginning_balance, ending_balance, years)
print(round(year_one_growth,2))

0.55

In [163]:
beginning_balance = 45000.10
ending_balance = 47000.00
year_two_growth_rate = calculate_compound_growth_rate(beginning_balance, ending_balance, years)
print(round(year_two_growth_rate,2))

0.04

In [165]:
growth_rates = list()
growth_rates.append(round(year_one_growth,2))
growth_rates.append(round(year_two_growth_rate,2))
print(growth_rates)

[0.55, 0.04]

In [218]:
customers = [
        {'first_name' : "Tom", "last_name" : "Smith", "Revenue" : 100},
        {'first_name' : "Sally", "last_name" : "Master", "Revenue" : 3100},
         {'first_name' : "Peter", "last_name" : "Crazy", "Revenue" : 250}
]
def create_greeting(first_name, last_name, revenue):
    if revenue > 301:
        custcat= "Platinum"           
    elif (revenue >= 200 and revenue >= 300):
        custcat = "Gold"
    else:
        custcat = "Bronze"
    return custcat

for customer in customers:
    greeting = create_greeting(customer['first_name'], customer['last_name'], customer['Revenue'])
    print(greeting)

Bronze
Platinum
Bronze

In [220]:
original_investment= 1000
Interest = .10
Compounding = 1
Years = 5
price = 700

def present_value(original_investment, Interest, Compounding, Years):
    pv= original_investment / (1 + (Interest/ Compounding) ** Compounding * Years)
    return pv

first_test = present_value(original_investment, Interest, Compounding, Years)
print(first_test)

666.6666666666666

In [201]:
def future_value(initial_investment, Interest, Compounding, Years):
    fv = (initial_investment) * ((1 + Interest/Compounding) ** (Compounding * Years))
    return fv
second_test = future_value(10000, .10, 1, 1)
print(second_test)

11000.0

In [235]:
cash_flows_conservative = [-1000, 400, 400, 400, 400]
cash_flows_neutral = [-1500, 600, 600, 600, 600]
cash_flows_aggressive = [-2250, 800, 800, 800, 800]
discount_rate = .10
import numpy_financial as npf
npv_dict={}
npv_dict['conservative'] = npf.npv(discount_rate, cash_flows_conservative)
npv_dict['neutral'] = npf.npv(discount_rate, cash_flows_neutral)
npv_dict['aggressive'] = npf.npv(discount_rate, cash_flows_aggressive)
print(npv_dict)
max_value = 0
key_value = 0
min_value = 0

for key, value in npv_dict.items():
    if max_value == 0:
        max_value = value
        max_key = key
    elif value > max_value:
        max_value = value
        max_key = key
print(f" Project scenario {max_key} the best return is {max_value}")

{'conservative': 267.94617853971704, 'neutral': 401.91926780957544, 'aggressive': 285.8923570794341}
 Project scenario neutral the best return is 401.91926780957544

In [248]:
from pathlib import Path
print(f"Current Working Directory: {Path.cwd()}")
customer_count = 0
day_count = 0
file = Path('C:/Users/User/Documents/Renu/python-homework/customer_traffic.txt')
with open(file, 'r') as file:
    for line in file:
        number = int(line)
        customer_count += number
        day_count += 1
print(f"Traffic for the customer is:{customer_count} and Number of days is {day_count}")
daily_average = customer_count / day_count
print(round(daily_average,2))
output_path = 'customerresults.txt'
with open(output_path, 'w') as file:
    # Write daily_average to the output file, convert to string
    file.write(f"There were {customer_count} customers over the course of {day_count} days.\n")
    file.write(f"The average daily customer traffic is {daily_average} customers per day.")

Current Working Directory: C:\Users\User\Documents\Renu\python-homework
Traffic for the customer is:4945 and Number of days is 100
49.45

In [26]:
from pathlib import Path
import csv
print(f"Current Working Directory: {Path.cwd()}")
from pathlib import Path
import csv
#file2 = Path('C:/Users/User/Documents/Renu/python-homework/sales.csv')
file2 = Path('./sales.csv')
analysis = {}
with open(file2, "r") as csvfile:
    csvreader = csv.reader(csvfile, delimiter=",")
    csv_header = next(csvfile)
    #print(csv_header)
    for row in csvreader:
        print(row)
        name= row[0]
        count = int(row[1])
        revenue = int(row[2])
#          
#
        if name not in analysis.keys():
            analysis[name] = {"count" : count, "Revenue" : revenue}
        else:    
            analysis[name]["count"] += count
            analysis[name]["Revenue"] += revenue
            print(analysis)

Current Working Directory: C:\Users\User\Documents\Renu\python-homework
['Andrew', '9', '58']
['Phil', '8', '377']
['Madison', '5', '302']
['Sally', '1', '75']
['Tyler', '1', '334']
['Billy', '7', '146']
['Steve', '1', '178']
['Madison', '7', '313']
{'Andrew': {'count': 9, 'Revenue': 58}, 'Phil': {'count': 8, 'Revenue': 377}, 'Madison': {'count': 12, 'Revenue': 615}, 'Sally': {'count': 1, 'Revenue': 75}, 'Tyler': {'count': 1, 'Revenue': 334}, 'Billy': {'count': 7, 'Revenue': 146}, 'Steve': {'count': 1, 'Revenue': 178}}
['Sarah', '8', '103']
['Tim', '5', '344']
['Andrew', '5', '349']
{'Andrew': {'count': 14, 'Revenue': 407}, 'Phil': {'count': 8, 'Revenue': 377}, 'Madison': {'count': 12, 'Revenue': 615}, 'Sally': {'count': 1, 'Revenue': 75}, 'Tyler': {'count': 1, 'Revenue': 334}, 'Billy': {'count': 7, 'Revenue': 146}, 'Steve': {'count': 1, 'Revenue': 178}, 'Sarah': {'count': 8, 'Revenue': 103}, 'Tim': {'count': 5, 'Revenue': 344}}
['Phil', '8', '61']
{'Andrew': {'count': 14, 'Revenue': 407}, 'Phil': {'count': 16, 'Revenue': 438}, 'Madison': {'count': 12, 'Revenue': 615}, 'Sally': {'count': 1, 'Revenue': 75}, 'Tyler': {'count': 1, 'Revenue': 334}, 'Billy': {'count': 7, 'Revenue': 146}, 'Steve': {'count': 1, 'Revenue': 178}, 'Sarah': {'count': 8, 'Revenue': 103}, 'Tim': {'count': 5, 'Revenue': 344}}
['Madison', '4', '196']
{'Andrew': {'count': 14, 'Revenue': 407}, 'Phil': {'count': 16, 'Revenue': 438}, 'Madison': {'count': 16, 'Revenue': 811}, 'Sally': {'count': 1, 'Revenue': 75}, 'Tyler': {'count': 1, 'Revenue': 334}, 'Billy': {'count': 7, 'Revenue': 146}, 'Steve': {'count': 1, 'Revenue': 178}, 'Sarah': {'count': 8, 'Revenue': 103}, 'Tim': {'count': 5, 'Revenue': 344}}
['Carl', '1', '374']
['Devon', '9', '220']
['Megan', '9', '321']
['Sarah', '7', '277']
{'Andrew': {'count': 14, 'Revenue': 407}, 'Phil': {'count': 16, 'Revenue': 438}, 'Madison': {'count': 16, 'Revenue': 811}, 'Sally': {'count': 1, 'Revenue': 75}, 'Tyler': {'count': 1, 'Revenue': 334}, 'Billy': {'count': 7, 'Revenue': 146}, 'Steve': {'count': 1, 'Revenue': 178}, 'Sarah': {'count': 15, 'Revenue': 380}, 'Tim': {'count': 5, 'Revenue': 344}, 'Carl': {'count': 1, 'Revenue': 374}, 'Devon': {'count': 9, 'Revenue': 220}, 'Megan': {'count': 9, 'Revenue': 321}}
['David', '2', '246']
['Sally', '9', '198']
{'Andrew': {'count': 14, 'Revenue': 407}, 'Phil': {'count': 16, 'Revenue': 438}, 'Madison': {'count': 16, 'Revenue': 811}, 'Sally': {'count': 10, 'Revenue': 273}, 'Tyler': {'count': 1, 'Revenue': 334}, 'Billy': {'count': 7, 'Revenue': 146}, 'Steve': {'count': 1, 'Revenue': 178}, 'Sarah': {'count': 15, 'Revenue': 380}, 'Tim': {'count': 5, 'Revenue': 344}, 'Carl': {'count': 1, 'Revenue': 374}, 'Devon': {'count': 9, 'Revenue': 220}, 'Megan': {'count': 9, 'Revenue': 321}, 'David': {'count': 2, 'Revenue': 246}}
['Tom', '5', '221']
['Andrew', '1', '191']
{'Andrew': {'count': 15, 'Revenue': 598}, 'Phil': {'count': 16, 'Revenue': 438}, 'Madison': {'count': 16, 'Revenue': 811}, 'Sally': {'count': 10, 'Revenue': 273}, 'Tyler': {'count': 1, 'Revenue': 334}, 'Billy': {'count': 7, 'Revenue': 146}, 'Steve': {'count': 1, 'Revenue': 178}, 'Sarah': {'count': 15, 'Revenue': 380}, 'Tim': {'count': 5, 'Revenue': 344}, 'Carl': {'count': 1, 'Revenue': 374}, 'Devon': {'count': 9, 'Revenue': 220}, 'Megan': {'count': 9, 'Revenue': 321}, 'David': {'count': 2, 'Revenue': 246}, 'Tom': {'count': 5, 'Revenue': 221}}
['Paul', '5', '399']
['Carl', '1', '300']
{'Andrew': {'count': 15, 'Revenue': 598}, 'Phil': {'count': 16, 'Revenue': 438}, 'Madison': {'count': 16, 'Revenue': 811}, 'Sally': {'count': 10, 'Revenue': 273}, 'Tyler': {'count': 1, 'Revenue': 334}, 'Billy': {'count': 7, 'Revenue': 146}, 'Steve': {'count': 1, 'Revenue': 178}, 'Sarah': {'count': 15, 'Revenue': 380}, 'Tim': {'count': 5, 'Revenue': 344}, 'Carl': {'count': 2, 'Revenue': 674}, 'Devon': {'count': 9, 'Revenue': 220}, 'Megan': {'count': 9, 'Revenue': 321}, 'David': {'count': 2, 'Revenue': 246}, 'Tom': {'count': 5, 'Revenue': 221}, 'Paul': {'count': 5, 'Revenue': 399}}
['Tim', '1', '345']
{'Andrew': {'count': 15, 'Revenue': 598}, 'Phil': {'count': 16, 'Revenue': 438}, 'Madison': {'count': 16, 'Revenue': 811}, 'Sally': {'count': 10, 'Revenue': 273}, 'Tyler': {'count': 1, 'Revenue': 334}, 'Billy': {'count': 7, 'Revenue': 146}, 'Steve': {'count': 1, 'Revenue': 178}, 'Sarah': {'count': 15, 'Revenue': 380}, 'Tim': {'count': 6, 'Revenue': 689}, 'Carl': {'count': 2, 'Revenue': 674}, 'Devon': {'count': 9, 'Revenue': 220}, 'Megan': {'count': 9, 'Revenue': 321}, 'David': {'count': 2, 'Revenue': 246}, 'Tom': {'count': 5, 'Revenue': 221}, 'Paul': {'count': 5, 'Revenue': 399}}
['Madison', '4', '202']
{'Andrew': {'count': 15, 'Revenue': 598}, 'Phil': {'count': 16, 'Revenue': 438}, 'Madison': {'count': 20, 'Revenue': 1013}, 'Sally': {'count': 10, 'Revenue': 273}, 'Tyler': {'count': 1, 'Revenue': 334}, 'Billy': {'count': 7, 'Revenue': 146}, 'Steve': {'count': 1, 'Revenue': 178}, 'Sarah': {'count': 15, 'Revenue': 380}, 'Tim': {'count': 6, 'Revenue': 689}, 'Carl': {'count': 2, 'Revenue': 674}, 'Devon': {'count': 9, 'Revenue': 220}, 'Megan': {'count': 9, 'Revenue': 321}, 'David': {'count': 2, 'Revenue': 246}, 'Tom': {'count': 5, 'Revenue': 221}, 'Paul': {'count': 5, 'Revenue': 399}}
['John', '4', '305']
['Phil', '6', '249']
{'Andrew': {'count': 15, 'Revenue': 598}, 'Phil': {'count': 22, 'Revenue': 687}, 'Madison': {'count': 20, 'Revenue': 1013}, 'Sally': {'count': 10, 'Revenue': 273}, 'Tyler': {'count': 1, 'Revenue': 334}, 'Billy': {'count': 7, 'Revenue': 146}, 'Steve': {'count': 1, 'Revenue': 178}, 'Sarah': {'count': 15, 'Revenue': 380}, 'Tim': {'count': 6, 'Revenue': 689}, 'Carl': {'count': 2, 'Revenue': 674}, 'Devon': {'count': 9, 'Revenue': 220}, 'Megan': {'count': 9, 'Revenue': 321}, 'David': {'count': 2, 'Revenue': 246}, 'Tom': {'count': 5, 'Revenue': 221}, 'Paul': {'count': 5, 'Revenue': 399}, 'John': {'count': 4, 'Revenue': 305}}
['Madison', '7', '113']
{'Andrew': {'count': 15, 'Revenue': 598}, 'Phil': {'count': 22, 'Revenue': 687}, 'Madison': {'count': 27, 'Revenue': 1126}, 'Sally': {'count': 10, 'Revenue': 273}, 'Tyler': {'count': 1, 'Revenue': 334}, 'Billy': {'count': 7, 'Revenue': 146}, 'Steve': {'count': 1, 'Revenue': 178}, 'Sarah': {'count': 15, 'Revenue': 380}, 'Tim': {'count': 6, 'Revenue': 689}, 'Carl': {'count': 2, 'Revenue': 674}, 'Devon': {'count': 9, 'Revenue': 220}, 'Megan': {'count': 9, 'Revenue': 321}, 'David': {'count': 2, 'Revenue': 246}, 'Tom': {'count': 5, 'Revenue': 221}, 'Paul': {'count': 5, 'Revenue': 399}, 'John': {'count': 4, 'Revenue': 305}}
['Sally', '6', '256']
{'Andrew': {'count': 15, 'Revenue': 598}, 'Phil': {'count': 22, 'Revenue': 687}, 'Madison': {'count': 27, 'Revenue': 1126}, 'Sally': {'count': 16, 'Revenue': 529}, 'Tyler': {'count': 1, 'Revenue': 334}, 'Billy': {'count': 7, 'Revenue': 146}, 'Steve': {'count': 1, 'Revenue': 178}, 'Sarah': {'count': 15, 'Revenue': 380}, 'Tim': {'count': 6, 'Revenue': 689}, 'Carl': {'count': 2, 'Revenue': 674}, 'Devon': {'count': 9, 'Revenue': 220}, 'Megan': {'count': 9, 'Revenue': 321}, 'David': {'count': 2, 'Revenue': 246}, 'Tom': {'count': 5, 'Revenue': 221}, 'Paul': {'count': 5, 'Revenue': 399}, 'John': {'count': 4, 'Revenue': 305}}